{{if eq .Env.ENV "prod"}}
### redirect insecure request to secure
server {
  listen 80;
  server_name _;

  add_header Vary Upgrade-Insecure-Requests;
  return 307 https://$host$request_uri;
}
### lua configurations for dynamic ssl
lua_package_path "/etc/lua-resty-core/lib/?.lua;;";
lua_shared_dict ssls 2m;
{{end}}

server {
    server_name _;
{{if eq .Env.ENV "prod"}}
    listen	443	ssl http2 default_server;
    include /etc/nginx/snippet/ssl.conf;
{{else}}
    listen 80 default_server;
{{end}}
    root {{ .Env.ROOT_DIR }};

    include /etc/nginx/snippet/realip.conf;
    ### static files
    location ~*  \.(jpg|jpeg|png|gif|ico|css|js|json|xml|html|woff|woff2|ttf|otf|svg|eot)$ {
        add_header 'Cache-Control' 'public';
        expires 365d;
        access_log off;
        log_not_found off;
    }

    ### php
    location / {
        rewrite ^(.*)$ /app.php/$1 last;
    }

    location ~ ^/app\.php(/|$) {
        ### ENABLE CORS
        if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Allow-Origin' '*';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, OPTIONS';
            add_header 'Access-Control-Allow-Headers' 'Authorization,DNT,X-Forwarded-For,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
            add_header 'Access-Control-Max-Age' 1728000;
            add_header 'Content-Type' 'text/plain charset=UTF-8';
            add_header 'Content-Length' 0;
            return 204;
        }

        add_header 'Access-Control-Allow-Origin' '*' 'always';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, OPTIONS' 'always';
        add_header 'Access-Control-Allow-Headers' 'Authorization,DNT,X-Forwarded-For,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type' 'always';

        ### SECURITY HEADERS
        add_header X-Frame-Options "SAMEORIGIN";
        add_header X-XSS-Protection "1;	mode=block";
        add_header X-Content-Type-Options "nosniff";

    {{if eq .Env.ENV "prod"}}
        include /etc/nginx/snippet/cache.conf;

        fastcgi_param HTTPS on;
    {{end}}

        fastcgi_pass {{ .Env.PHP_HOST }}:{{ .Env.PHP_PORT }};
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;

        ### add geo data to $_SERVER array
        fastcgi_param COUNTRY_CODE $geoip2_data_country_code;
        fastcgi_param COUNTRY_NAME $geoip2_data_country_name;

        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

        proxy_set_header    Host            $host;
        proxy_set_header    X-Real-IP       $remote_addr;
        proxy_set_header    X-Forwarded-For $remote_addr;
    }
}
